.contenedor{
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:80px;
}

.logo{

    display:flex;

    justify-content:center;

    align-items:center;

}

.logo img{

    width:250px;

    max-width:80%;

    animation: 
        flotar 4s ease-in-out infinite,
        brilloLogo 3s ease-in-out infinite;

}

.logo{
    position:relative;
}

.logo::before{
    content:"";

    position:absolute;

    width:320px;
    height:320px;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    border-radius:50%;

    background:#39FF14;

    filter:blur(80px);

    opacity:0.35;

    z-index:-1;

    animation: pulso 3s ease-in-out infinite;
}

@keyframes pulso{

    0%{
        opacity:0.25;
        transform:translate(-50%,-50%) scale(0.9);
    }

    50%{
        opacity:0.5;
        transform:translate(-50%,-50%) scale(1.05);
    }

    100%{
        opacity:0.25;
        transform:translate(-50%,-50%) scale(0.9);
    }

}

.titulo{
    text-align:center;
}

.titulo h1{
    font-size:7rem;

    font-weight:900;

    color:#8BFF6D;

    animation: neonTitulo 4s ease-in-out infinite;
}

.titulo h2{
    font-size:2rem;

    margin-top:20px;

    color:white;
}

.botones{
    display:flex;

    flex-direction:column;

    gap:35px;
}

.botones button{
    width:350px;

    padding:20px;

    border:4px solid #39FF14;

    border-radius:20px;

    background:rgba(0,0,0,0.5);

    color:#8BFF6D;

    font-family:'Orbitron',sans-serif;

    font-size:1.6rem;

    cursor:pointer;

    transition:0.3s;
}

.botones button:hover{
    transform:scale(1.05);

    background:#39FF14;

    color:black;

    box-shadow:
        0 0 15px #39FF14,
        0 0 30px #39FF14;
}



@keyframes neonTitulo{

    0%{
        opacity: 0.75;

        text-shadow:
            0 0 5px #8BFF6D,
            0 0 10px #39FF14,
            0 0 20px #39FF14;
    }

    50%{
        opacity: 1;

        text-shadow:
            0 0 10px #8BFF6D,
            0 0 25px #39FF14,
            0 0 50px #39FF14,
            0 0 80px #39FF14;
    }

    100%{
        opacity: 0.75;

        text-shadow:
            0 0 5px #8BFF6D,
            0 0 10px #39FF14,
            0 0 20px #39FF14;
    }
}