.contenedor{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:40px;

}

.infoPartida{

    display:flex;

    gap:50px;

}

.zonaJuego{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:30px;

}

#palabra{

    font-size:3rem;

    letter-spacing:15px;

    font-weight:bold;

}

#pista{

    font-size:1.3rem;

}

.controles{

    display:flex;

    gap:20px;

}

#letra{

    width:80px;

    height:60px;

    text-align:center;

    font-size:2rem;

    border-radius:10px;

}

button{

    padding:15px 25px;

    cursor:pointer;

}

#teclado{

    width:700px;

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:14px;

    margin-top:20px;

}



.tecla{

    width:50px;

    height:50px;

    border-radius:18px;


    border:none;


    background:#3f8585;


    color:white;


    font-size:18px;


    font-family:'Orbitron',sans-serif;


    cursor:pointer;


    transition:0.2s;

}



.tecla:hover{


    transform:scale(1.1);


    background:#52aaaa;


}



.tecla.usada{


    background:#222;


    opacity:0.5;


    cursor:not-allowed;


}

.tecla{

    width:50px;
    height:50px;

    border-radius:15px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:20px;

    cursor:pointer;

}