body{
    margin: 0;

    min-height: 100vh;

    overflow-x: hidden;

    font-family: 'Orbitron', sans-serif;

    background:
        radial-gradient(
            circle at top,
            rgba(40, 120, 40, 0.35),
            transparent 45%
        ),

        linear-gradient(
            135deg,
            #041b04 0%,
            #0b300b 35%,
            #124212 70%,
            #061406 100%
        );

    background-attachment: fixed;
}
body::before{
    content: "";

    position: fixed;

    inset: 0;

    background-image:
        repeating-linear-gradient(
            0deg,
            rgba(255,255,255,0.02) 0px,
            rgba(255,255,255,0.02) 1px,
            transparent 1px,
            transparent 3px
        );

    pointer-events: none;

    z-index: -1;
}

.contenedor-login{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:35px;
}

.contenedor-login h1{
    color:#8BFF6D;

    font-size:4rem;

    text-shadow:
        0 0 10px rgba(57,255,20,0.7);
}

.credenciales{
    display:flex;

    gap:40px;
}

.credenciales input{
    width:380px;

    padding:20px;

    border:4px solid #39FF14;

    border-radius:25px;

    background:rgba(57,255,20,0.12);

    color:white;

    font-family:'Orbitron',sans-serif;

    font-size:1.4rem;

    text-align:center;
}

.credenciales input::placeholder{
    color:#BFFFAD;
}

.credenciales input:focus{
    outline:none;

    box-shadow:
        0 0 15px rgba(57,255,20,0.7);
}

#btnLogin{
    width:450px;

    padding:20px;

    border:none;

    border-radius:25px;

    background:#39FF14;

    color:black;

    font-family:'Orbitron',sans-serif;

    font-size:1.5rem;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

    width: 450px;
}

#btnLogin:hover{
    transform:scale(1.04);

    box-shadow:
        0 0 20px rgba(57,255,20,0.8);
}

.registro{
    background:none;

    border:none;

    color:#8BFF6D;

    font-family:'Orbitron',sans-serif;

    cursor:pointer;
}

.registro:hover{
    text-decoration:underline;
}